<h1>Welcome to Quoting Dojo</h1>
<form action="/create" method="post">
    <input style="display: block;" type="text" name="name" placeholder="Name">
    <textarea style="display: block;" name="quote" cols="21" rows="10" placeholder="Enter quote"></textarea>
    <input type="submit" value="Submit">
</form>
<a href="/quotes">Go to quotes</a>