<h1>Quotes!</h1>
@foreach (var quote in @ViewBag.AllQuotes)
{
    <p>@quote["quote"]</p>
    <p style="border-bottom: 1px solid silver; padding-bottom: 10px; text-align: right;">- @quote["name"]</p>
}
<a href="/">Return to Add More!</a>